#chat-log {
	height: 300px;
	border: 1px solid #000000;
	list-style-type: none;
	overflow-y: scroll;
	padding: 10px;
}

li {
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}

.msg-from-me {
	/* float: right; */
	text-align: right;

	color: white;
	background-color: blue;
}

.msg-from-me {
	border-radius: 10px;
}

.msg-from-me ~ .msg-from-me {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.msg-from-others-li {
	text-align: left;
	color: white;
	background-color: purple;
}

.msg-from-others-username {
	font-size: smaller;
	font-style: italic;
}

#formChangeName {
	display: inline;
}
