main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#main-left-column {
	flex-grow: 4;
}

#main-right-column {
	align-self: flex-start;
}

#users-currently-online {
	list-style: none;
	padding-left: 0;
}

#users-currently-online li {
	background-color: rgba(0, 0, 255, 0.301);
	border-bottom: 1px solid chartreuse;
	padding: 5px 10px;
}

#users-currently-online li:last-child {
	border-bottom: none;
}

#users-currently-online li#your-name {
	background-color: rgba(0, 0, 255, 0.575);
}

#your-name:after {
	content: ' (You)';
}

#chat-log {
	height: 300px;
	border: 1px solid #000000;
	list-style-type: none;
	overflow-y: scroll;
	padding: 10px;
}

li.chat-msg {
	width: 100%;
	padding: 5px;
}

.msg-group {
	color: white;
}

.msg-from-me {
	text-align: right;

	background-color: blue;
}

.msg-group {
	margin-bottom: 5px;
}

.msg-from-me,
.msg-from-others-li {
	border-bottom: 1px solid black;
}

.msg-from-me:first-child {
	border-top-right-radius: 10px;
}

.msg-from-me:last-child {
	border-bottom-right-radius: 10px;
	border-bottom: none;
}

.msg-from-others-li {
	text-align: left;
	background-color: purple;
}

.msg-from-others-li:first-child {
	border-top-left-radius: 10px;
}

.msg-from-others-li:last-child {
	border-bottom-left-radius: 10px;
	border-bottom: none;
}

.msg-from-others-username {
	font-size: smaller;
	font-style: italic;
}

#formChangeName {
	display: inline;
}
