$main-color: rgba(0, 0, 0, 0.856);
$pure-black-color: black;
$secondary-color: #800080;
$ternary-color: #deb886;

$main-color-text: #fff;
$secondary-color-text: #a8a8a8;
$ternary-color-text: #c0c0ff;
