@import 'colors';
@import 'header';
@import 'chat';
@import 'userlist';

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $main-color;
}

main {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 0 auto;

	max-width: 80%;
	width: 50%;
}

#formChangeName {
	display: inline;
}
